#profile-picture {
  border-radius: 3rem;
}
.name {
  text-align: center;
}
.section {
  background-color: black;
  color: whitesmoke;
  font-size: 1.25rem;
}
html {
  background-color: whitesmoke;
}
footer {
  color: red;
}
ul {
  font-size: medium;
}
