#profile-picture {
  border-radius: 3rem;
  margin-top: -150px;
}
.name {
  font-weight: 900;
  margin: 0px 0px 0px 230px;
  color: black;
}
.section {
  background-color: black;
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 5px;
  padding-left: 15px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  border-radius: 1.5rem;
}
html {
  background-color: whitesmoke;
}
footer {
  color: red;
}
ul {
  font-size: medium;
}
a {
  text-decoration: none;
}
#about-dev {
  margin: 70px 0px 20px 0px;
}
